@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

.app-wrapper {
  align-items: center;
  background-color: #191c22;
  color: #ffffff;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  font-family: "DM Sans", sans-serif;
}

.content-wrapper {
  background-color: #282a35;
  border-radius: 16px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  display: flex;
  gap: 64px;
  height: 200px;
  align-items: center;
  padding: 64px;
}

.content-left {
  display: flex;
  flex-direction: column;
}

.content-left h1 {
  margin: 0;
  font-weight: 700;
  font-size: 2.2em;
}

.content-left p {
  font-size: 1.1em;
  margin: 8px 0;
}

.content-right {
  height: 100%;
}

.content-right img {
  height: 100%;
}
